{% extends "base.html" %}


{% block title %}Car List{% endblock title %}

{% block content %}

{% for car in cars %}

<br />
<div class="container ">


<div class="row" style="">


<div class="card col-lg-12 ">
  <div class="card-header" style="background-color:black; color:grey;">
    {{car.make}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{car.model}}</h5>
    <p class="card-text">{% if car.img %}
  			<img src="{{car.img.url}}"  class="card-img-top"  alt="" >
  		{% endif %}</p>
  <a href="{% url 'car-detail' car.id %}" class="btn btn-outline-success">View</a>
	<a href="{% url 'car-update' car.id %}" class="btn btn-outline-success">Edit</a>

  </div>
</div>
</div>
</div>






{% endfor %}
{% endblock content %}
